<div class="filter clearfix basis-module">
	<div class="page-header">
		<ol class="breadcrumb">
			<li><a href="#/welcome"><h1><i class="icon icon-home"></i>{{$root.i18n.public.home}}<h1></a></li>
			<li>{{$root.global.menu.nowMenu.parent.name}}</li>
			<li><a href="#{{$root.global.menu.nowMenu.url}}">{{$root.global.menu.nowMenu.name}}</a></li>
		</ol>
	</div>

	<div class="page-body">
		<form class="form-horizontal">
			<div class="form-group col-sm-4">
				<label class="control-label col-sm-4">{{$root.i18n.menu.name}}:</label>
				<div class="col-sm-8">
					<input type="text" ng-model="entity.name" class="form-control" placeholder="{{$root.i18n.public.likeQuery}}">
				</div>
			</div>
			<div class="form-group col-sm-4">
				<label class="control-label col-sm-4">{{$root.i18n.menu.url}}:</label>
				<div class="col-sm-8">
					<input type="text" ng-model="entity.url" class="form-control" placeholder="{{$root.i18n.public.likeQuery}}">
				</div>
			</div>
			<div class="form-group col-sm-4">
				<label class="control-label col-sm-4">{{$root.i18n.public.status}}:</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="entity.status">
						<option value="">&nbsp;</option>
						<option value="0">{{$root.i18n.menu.statusNormal}}</option>
						<option value="1">{{$root.i18n.menu.statusAbolish}}</option>
					</select>
				</div>
			</div>
			<div class="form-group col-sm-4">
				<label class="control-label col-sm-4">{{$root.i18n.menu.level}}:</label>
				<div class="col-sm-8">
					<input type="number" ng-model="entity.level" class="form-control">
				</div>
			</div>
			<div class="form-group col-sm-12">
				<div class="col-sm-2 pull-right">
					<button type="submit" class="btn btn-primary form-control" ng-click="query()" ng-disabled="entity.querying"><span class="add-on"><i class="icon icon-search"></i></span>{{$root.i18n.public.query}}</button>
				</div>
				<div class="col-sm-2 pull-right">
					<button type="submit" class="btn btn-primary form-control" ng-click="createUpdate()" ><i class="icon icon-plus"></i>{{$root.i18n.public.create}}</button>
				</div>
				<div class="col-sm-2 pull-right">
					<button type="submit" class="btn btn-primary form-control" ng-click="levelRelation()" ><i class="icon icon-sitemap"></i>{{$root.i18n.menu.levelRelation}}</button>
				</div>
			</div>
		</form>
		<br />
		<table class="table table-striped">
			<header>
				<th>#</th>
				<th>{{$root.i18n.menu.name}}</th>
				<th>{{$root.i18n.menu.url}}</th>
				<th>{{$root.i18n.public.status}}</th>
				<th>{{$root.i18n.menu.level}}</th>
				<th>{{$root.i18n.menu.parentMenu}}</th>
				<th>{{$root.i18n.public.createName}}</th>
				<th>{{$root.i18n.public.createAt}}</th>
				<th>{{$root.i18n.public.option}}</th>
			</header>
			<tbody>
				<tr ng-if="!result.menuList  && page.totalCount !== 0">
					<td class="loading-holder" colspan="40">
						<div class="text-center">
							<span ><i class="icon icon-spinner icon-spin"></i></span>
						</div>
					</td>
				</tr>
				<tr ng-if="page.totalCount === 0">
					<td colspan="40">
						<div class="text-center">{{$root.i18n.public.noData}}</div>
					</td>
				</tr>
			</tbody>
			<tbody>
				<tr ng-repeat="menu in result.menuList">
					<td >{{$index + 1 + (page.pageNo - 1) * page.pageSize}}</td>
					<td>{{menu.name}}</td>
					<td>{{menu.url}}</td> 
					<td>{{menu.status | menuStatusFilter }}</td> 
					<td>{{menu.level }}</td> 
					<td>{{menu.parentName }}</td> 
					<td>{{menu.createName}}</td> 
					<td>{{menu.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>
						<a href="javascript:;" ng-click="level(menu)">{{$root.i18n.menu.optLevel}}</a>
						<span ng-if="menu.status == 0">
							<i class="text-divider">|</i>
							<a href="javascript:;"  ng-click="changeStatus(menu,1)">{{$root.i18n.menu.optAbolish}}</a>
						</span>
						<span ng-if="menu.status == 1">
							<i class="text-divider">|</i>
							<a href="javascript:;"  ng-click="changeStatus(menu,0)">{{$root.i18n.menu.optNormal}}</a> 
							<i class="text-divider">|</i>
							<a href="javascript:;"  ng-click="delete(menu)">{{$root.i18n.public.delete}}</a>
						</span>
						<i class="text-divider">|</i>
						<a href="javascript:;"  ng-click="createUpdate(menu)">{{$root.i18n.public.update}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="page-footer">
		<uib-pagination total-items="page.totalCount" ng-model="page.pageNo" items-per-page="page.pageSize" ng-change="query()"  max-size="5" class="pagination-sm pull-right"></uib-pagination>
	</div>
</div>