<div >
	<form class="form-horizontal">
		<div class="form-group col-sm-3">
			<label class="control-label col-sm-4">{{label.userId}}</label>
			<div class="col-sm-8">
				<input type="text" ng-model="entity.userId" class="form-control" placeholder="{{holder.userId}}">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<label class="control-label col-sm-4">{{label.userName}}</label>
			<div class="col-sm-8">
				<input type="text" ng-model="entity.userName" class="form-control" placeholder="{{holder.userName}}">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<label class="control-label col-sm-4">{{label.userMobile}}</label>
			<div class="col-sm-8">
				<input type="text" ng-model="entity.userMobile" class="form-control" placeholder="{{holder.userMobile}}">
			</div>
		</div>
		<div class="form-group col-sm-3">
			<label class="control-label col-sm-4">{{label.status}}</label>
			<div class="col-sm-8">
				<select class="form-control" ng-model="entity.status">
					<option value="0">{{label.statusNormal}}</option>
					<option value="1">{{label.statusFrozen}}</option>
				</select>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-2 pull-right">
				<button type="submit" class="btn btn-primary form-control col-sm-3" ng-click="query()" ng-disabled="entity.querying">{{label.query}}</button>
			</div>
		</div>

	</form>
	<br />
	<table class="table table-striped">
		<header>
			<th>#</th>
			<th>{{label.table.th.userId}}</th>
			<th>{{label.table.th.userName}}</th>
			<th>{{label.table.th.nickName}}</th>
			<th>{{label.table.th.userMobile}}</th>
			<th>{{label.table.th.status}}</th>
			<th>{{label.table.th.createBy}}</th>
			<th>{{label.table.th.createAt}}</th>
			<th>{{label.table.th.option}}</th>
		</header>
		<tbody>
			<tr ng-if="!result.userList">
				<td class="loading-holder" colspan="40">
					<div class="text-center">
						<span class="loading"></span>
					</div>
				</td>
			</tr>
			<tr ng-if="result.userList && page.totalCount === 0">
				<td colspan="40">
					<div class="text-center">{{label.table.noData}}</div>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr ng-repeat="user in result.userList">
				<td>{{$index + 1}}</td>
				<td>{{user.userId}}</td>
				<td>{{user.userName}}</td> 
				<td>{{user.nickName}}</td> 
				<td>{{user.userMobile}}</td> 
				<td>{{user.status | userStatusFilter}}</td> 
				<td>{{user.createBy}}</td> 
				<td>{{user.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td></td> 
			</tr>
		</tbody>
	</table>
	<uib-pagination total-items="page.totalCount" ng-model="page.pageNo" max-size="page.pageSize" ng-change="query()" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="true" next-text="{{page.label.nextText}}" previous-text="{{page.label.previousText}}"></uib-pagination>
</div>