<div class="filter clearfix basis-module">
	<div class="page-header">
		<ol class="breadcrumb">
			<li><a href="#/welcome"><h1><i class="icon-home"></i>{{$root.global.dictionary.home}}<h1></a></li>
			<li>{{$root.global.menu.nowMenu.parent.name}}</li>
			<li><a href="#{{$root.global.menu.nowMenu.url}}">{{$root.global.menu.nowMenu.name}}</a></li>
			<li>{{$root.global.dictionary.user.label.userDetail}}</li>
		</ol>
	</div>

	<div class="page-body">
		<form class="form-horizontal">
			<div class="page-breadcrumb breadcrumb">{{label.userInfo}}</div>
			<div class="form-group ">
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{label.userId}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.userId" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{label.userName}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.userName" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{label.nickName}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.nickName" class="form-control" ng-disabled="true">
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{label.userMobile}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.userMobile" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{label.userSex}}:</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="entity.userSex" ng-disabled="true">
							<option value="0">{{label.userSexSecret}}</option>
							<option value="1">{{label.userSexMale}}</option>
							<option value="2">{{label.userSexFemale}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{label.userBirth}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-value="entity.userBirth | date :'yyyy-MM-dd'" class="form-control" ng-disabled="true">
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{public.label.status}}:</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="entity.status" ng-disabled="true">
							<option value="0">{{label.statusNormal}}</option>
							<option value="1">{{label.statusFrozen}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="page-breadcrumb breadcrumb">{{label.registerInfo}}</div>
			<div class="form-group ">
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{public.label.createAt}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-value="entity.createAt|date:'yyyy-MM-dd HH:mm:ss'" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{public.label.createName}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-value="entity.createName || entity.userName" class="form-control" ng-disabled="true">
					</div>
					
				</div>
			</div>

			<div class="page-breadcrumb breadcrumb">{{label.logInfo}}</div>
			<div class="col-sm-12">
				<table class="table table-striped">
					<header>
						<th>#</th>
						<th>{{public.label.createName}}</th>
						<th>{{public.label.createAt}}</th>
						<th>{{public.label.type}}</th>
						<th>{{public.label.content}}</th>
					</header>
					<tbody>
						<tr ng-if="!result.logList  && page.totalCount !== 0">
							<td class="loading-holder" colspan="40">
								<div class="text-center">
									<span ><i class="icon-spinner icon-spin"></i></span>
								</div>
							</td>
						</tr>
						<tr ng-if="page.totalCount === 0">
							<td colspan="40">
								<div class="text-center">{{public.label.noData}}</div>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr ng-repeat="log in result.logList">
							<td>{{$index + 1 + (page.pageNo - 1) * page.pageSize}}</td>
							<td>{{log.createName }}</td>
							<td>{{log.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</td> 
							<td>{{log.type | userLogType}}</td> 
							<td>{{log.content}}</td> 
						</tr>
					</tbody>
				</table>
				<uib-pagination total-items="page.totalCount" ng-model="page.pageNo" items-per-page="page.pageSize" ng-change="queryLog()"  max-size="5" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="true" next-text="{{page.label.nextText}}" previous-text="{{page.label.previousText}}"></uib-pagination>
			</div>
		</form>
	</div>
</div>