<div class="filter clearfix basis-module">
	<div class="page-header">
		<ol class="breadcrumb">
			<li><a href="#/welcome"><h1><i class="icon-home"></i>{{$root.i18n.public.home}}<h1></a></li>
			<li>{{$root.global.menu.nowMenu.parent.name}}</li>
			<li><a href="#{{$root.global.menu.nowMenu.url}}">{{$root.global.menu.nowMenu.name}}</a></li>
			<li>{{$root.i18n.user.userDetail}}</li>
		</ol>
	</div>

	<div class="page-body">
		<form class="form-horizontal">
			<div class="page-breadcrumb breadcrumb">{{$root.i18n.user.userInfo}}</div>
			<div class="form-group ">
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.user.userId}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.userId" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.user.userName}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.userName" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.user.nickName}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.nickName" class="form-control" ng-disabled="true">
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.user.userMobile}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-model="entity.userMobile" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.user.userSex}}:</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="entity.userSex" ng-disabled="true">
							<option value="0">{{$root.i18n.user.userSexSecret}}</option>
							<option value="1">{{$root.i18n.user.userSexMale}}</option>
							<option value="2">{{$root.i18n.user.userSexFemale}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.user.userBirth}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-value="entity.userBirth | date :'yyyy-MM-dd'" class="form-control" ng-disabled="true">
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.public.status}}:</label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="entity.status" ng-disabled="true">
							<option value="0">{{$root.i18n.user.statusNormal}}</option>
							<option value="1">{{$root.i18n.user.statusFrozen}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="page-breadcrumb breadcrumb">{{$root.i18n.user.registerInfo}}</div>
			<div class="form-group ">
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.public.createAt}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-value="entity.createAt|date:'yyyy-MM-dd HH:mm:ss'" class="form-control" ng-disabled="true">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label class="control-label col-sm-4">{{$root.i18n.public.createName}}:</label>
					<div class="col-sm-8">
						<input type="text" ng-value="entity.createName || entity.userName" class="form-control" ng-disabled="true">
					</div>
					
				</div>
			</div>

			<div class="page-breadcrumb breadcrumb">{{label.logInfo}}</div>
			<div class="col-sm-12">
				<table class="table table-striped">
					<header>
						<th>#</th>
						<th>{{$root.i18n.public.createName}}</th>
						<th>{{$root.i18n.public.createAt}}</th>
						<th>{{$root.i18n.public.type}}</th>
						<th>{{$root.i18n.public.content}}</th>
					</header>
					<tbody>
						<tr ng-if="!result.logList  && page.totalCount !== 0">
							<td class="loading-holder" colspan="40">
								<div class="text-center">
									<span ><i class="icon-spinner icon-spin"></i></span>
								</div>
							</td>
						</tr>
						<tr ng-if="page.totalCount === 0">
							<td colspan="40">
								<div class="text-center">{{$root.i18n.public.noData}}</div>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr ng-repeat="log in result.logList">
							<td>{{$index + 1 + (page.pageNo - 1) * page.pageSize}}</td>
							<td>{{log.createName }}</td>
							<td>{{log.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</td> 
							<td>{{log.type | userLogType}}</td> 
							<td>{{log.content}}</td> 
						</tr>
					</tbody>
				</table>
				<uib-pagination total-items="page.totalCount" ng-model="page.pageNo" items-per-page="page.pageSize" ng-change="queryLog()"  max-size="5" class="pagination-sm pull-right" ></uib-pagination>
			</div>
		</form>
	</div>
	<div class="page-footer">
		<a class="btn btn-primary col-sm-4 col-sm-offset-4" type="button" href="#/user/userList">{{$root.i18n.user.backUserList}}</a>
	</div>
</div>