
<div class="container" ng-controller="loginController">
    <br/><br/><br/><br/>
    <form class="form-horizontal ">
        <div class="form-group">
            <label class="col-sm-4 control-label">用户名：</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="entity.userId" type="text" placeholder="请输入用户名">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">密码：</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="entity.passwd" type="password" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <label ng-bind="entity.msg" ng-if="entity.msg" class="form-control label label-danger"></label>
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-sm btn-primary col-sm-offset-4 col-sm-4" value="登陆"
                       ng-click="login()">
            </div>
        </div>


    </form>
</div>
