
<div class="container center-block">
    <br/><br/><br/><br/>
    <form class="form-horizontal ">
        <div class="form-group">
            <label class="col-sm-4 control-label">{{label.userId}}：</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="entity.userId" type="text" placeholder="{{holder.userId}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{label.passwd}}：</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="entity.passwd" type="password" placeholder="{{holder.passwd}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> {{label.remberMe}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <label ng-bind="entity.msg" ng-if="entity.msg" class="form-control label label-danger"></label>
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" class="btn btn-sm btn-primary col-sm-offset-4 col-sm-4" value="{{label.loginButton}}"
                       ng-click="login()">
            </div>

        </div>


    </form>
</div>
